/*-----------------------------------------------------------------------------------------------------------------------------*
 *                                                                                                                             *
 *    Syafiq Adhyaraka Naziwr Karmen                                                                                           *
 *    Kelas : 12-F1                                                                                                            *
 *    14/10/2025 19:30 sublime                                                                                                       *
 *                                                                                                                             *
 *    File External untuk bagian implementasi CSS secara external. File HTML bernama : External.html                           *
 *                                                                                                                             *
 *    Github Repo untuk Tugas              : https://github.com/SyafiqKarmen/WebForge_SMA1Ambon                                *
 *                                                                                                                             * 
 *    Archive Tugas - Tugas Yang diberikan, Berguna untuk tugas akhir : Web Development                                        *
 *                                                                                                                             *
 *    Akun Github saya                     : https://github.com/SyafiqKarmen                                                   *
 *                                                                                                                             *
 *-----------------------------------------------------------------------------------------------------------------------------*/

body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: linear-gradient(to bottom, #cce0f5, #b3e0f2);
}

h1 {
  background-color: #6fb1e0;
  color: white;
  text-align: center;
  padding: 20px;
  margin: 0;
  font-size: 28px;
}

.isi {
  background-color: white;
  width: 70%;
  margin: 30px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.bar-text {
  border-left: 4px solid #336699;
  padding-left: 8px;
}

strong {
  color: #004466;
}

h2 {
  color: #006680;
  text-align: center;
}

ul {
  list-style-type: disc;
  margin-left: 20px;
}

#footer {
  background-color: #b3e0f2;
  text-align: center;
  padding: 15px;
  font-size: 14px;
  border-top: 2px solid #006680;
}

#footer a {
  color: #004466;
  font-weight: bold;
  text-decoration: none;
}
